<?xml version="1.0" encoding="UTF-8"?>
 <configuration>
     <system.webServer>
         <rewrite>
             <rules>
                 <rule name="Add .html to posts">
                     <match url="^posts/([_0-9a-z-]+)$"/>
                     <action type="Rewrite" url="posts/{R:1}.html" />
                 </rule>
                 <rule name="Add .html to tags">
                     <match url="^tags/([_0-9a-z-]+)$"/>
                     <action type="Rewrite" url="tags/{R:1}.html" />
                 </rule>
                 <rule name="Add .html to about">
                     <match url="^about$"/>
                     <action type="Rewrite" url="/about.html" />
                 </rule>
             </rules>
         </rewrite>
         <staticContent>
             <mimeMap fileExtension=".epub" mimeType="application/octet-stream" />
             <mimeMap fileExtension=".odt" mimeType="application/octet-stream" />
         </staticContent>
     </system.webServer>
 </configuration>
